<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
<section id="hero">
    <div class="hero-content">
        <div class="heroText">
            <h1 id="home-h">Stack OverEats - Macronutrient Tracker</h2>
                <p>
                    Welcome to Stack OverEats a nutrional tracker that gives you visual validation of your health jouney
                    through an interactive avatar!
                </p>
                <div class="buttons">
                    <a class="button-solid" href="/login">
                        Sign Up </a>
                    </a>
                </div>
        </div>

        <div class="avatar-container">
            <div class="head"></div>
            <div class="shoulder"></div>
            <div class="hand"></div>
            <div class="hand right"></div>
            <div class="bod"></div>
            <div class="leg"></div>
            <div class="leg right"></div>
        </div>

    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="section">
    <div class="service">
        <h2>Tracking History</span></h2>
        <p>
            See your health journey through daily logged tracking history.
        </p>
        <a href="" class="button-solid"><i class="fa-solid fa-book-medical"></i></a>
    </div>
    <div class=" service">
        <h2 class="center-title">Nutrional and Exercise <span>Tracking</span></h2>
        <p>
            Input quantity of food consumed and calories burnt to update interative avatar.
        </p>
        <a href="" class="button-solid"><i class="fa-solid fa-chart-column"></i></a>
    </div>
    <div class="service">
        <h2>Calorie Lookup</span></h2>
        <p>
            Search for food to see nutrional innformation to inform meal planning.
        </p>
        <a href="" class="button-solid"><i class="fas fa-search"></i></a>
    </div>
</section>