<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
<section id="hero">
    <div class="hero-content">
        <div class="heroText">
            <h1 id="home-h">Stack OverEats - Macronutrient Tracker</h2>
                <p>
                    Welcome to Stack OverEats a nutrional tracker that gives you visual validation of your health jouney
                    through an interactive avatar!
                </p>
                <div class="button">
                    {{#if loggedIn}}
                    <a href="/track" class="button-solid"><span>Get Tracking</span></a>
                    {{else}}
                    <a href="/login" class="button-solid"><span>Sign Up</span></a>
                    {{/if}}
                </div>
        </div>

        <div class="avatar-container">
            <div class="head"></div>
            <div class="shoulder"></div>
            <div class="hand"></div>
            <div class="hand right"></div>
            <div class="bod"></div>
            <div class="leg"></div>
            <div class="leg right"></div>
        </div>

    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="section">

    <div class=" service">
        <h2 class="center-title">Nutrional and Exercise <span>Tracking</span></h2>
        <p>
            Input quantity of food consumed and calories burnt to update interative avatar.
        </p>
        <a href="/track" class="button-solid"><i class="fa-solid fa-chart-column"></i><span> Track</span></a>
    </div>

</section>