<section id="int-hero">
  <h1 id="home-h">Login / Signup</h2>
</section>
<section id="form">
  <div class="left-section">
    <h2>Login</h2>
    <form id="contact" name="Contact Form" method="post" data-netlify-recaptcha="true" data-netlify="true">
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email-login" aria-label="email" class="input1" name="email" placeholder="Bob@email.com" type="email"
          tabindex="1" required>
        <div aria-hidden="true" class="hover-box"></div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password-login" aria-label="password" class="input1" name="password" placeholder="Password"
          type="text" tabindex="2" required>
        <div aria-hidden="true" class="hover-box"></div>
      </div>
      <p class="login-submit">
        <button name="submit" id="login-submit" class="button-solid">Submit</button>
      </p>
    </form>
    <h2>Signup</h2>
    <form id="contact" name="Contact Form" method="post" data-netlify-recaptcha="true" data-netlify="true">
      <div class="input-group">
        <label for="username-signup">Username</label>
        <input id="username-signup" aria-label="username" class="input1" name="username" placeholder="Fitboy123"
          type="text" tabindex="1" required>
        <div aria-hidden="true" class="hover-box"></div>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email-signup" aria-label="email" class="input1" name="email" placeholder="Bob@email.com" type="email"
          tabindex="2" required>
        <div aria-hidden="true" class="hover-box"></div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password-signup" aria-label="password" class="input1" name="password" placeholder="Password"
          type="text" tabindex="2" required>
        <div aria-hidden="true" class="hover-box"></div>
      </div>
      <p class="signup-submit">
        <button name="submit" id="signup-submit" class="button-solid">Submit</button>
      </p>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>