<section id="int-hero">
    <h1 id="home-h">Profile Information</h2>
</section>
<section id="form">
    <div class="left-section">
        <form class="justify-content-around" id="contact" name="Email Change Form" data-netlify-recaptcha="true"
            data-netlify="true">
            <div class="input-group col-lg-8 col-6">
                <label for="emailChange">Change Email</label>
                <input id="email-change" aria-label="email" class="input1" name="emailChange"
                    placeholder=" stackovereats@gmail.com" type="text" tabindex="1" required>
                <div aria-hidden="true" class="hover-box"></div>
            </div>
            <button name="emailSubmit" id="email-submit" class="button-solid col-lg-3 col-4 m-auto">Change
                it</button>
        </form>
        <form class="justify-content-around" id="contact" name="Username Change Form" data-netlify-recaptcha="true"
            data-netlify="true">
            <div class="input-group col-lg-8 col-6">
                <label for="usernameChange">Change Username</label>
                <input id="username-change" aria-label="username" class="input1" name="usernameChange"
                    placeholder="HungryHippo" type="text" tabindex="1" required>
                <div aria-hidden="true" class="hover-box"></div>
            </div>
            <button name="usernameSubmit" id="username-submit" class="button-solid col-lg-3 col-4 m-auto">Change
                it</button>
        </form>
        <form class="justify-content-around" id="contact" name="Password Change Form" data-netlify-recaptcha="true"
            data-netlify="true">
            <div class="input-group col-lg-8 col-6">
                <label for="passwordChange">Change Password</label>
                <input id="password-change" aria-label="password" class="input1" name="passwordChange"
                    placeholder="securepassword" type="text" tabindex="1" required>
                <div aria-hidden="true" class="hover-box"></div>
            </div>
            <button name="passwordSubmit" id="password-submit" class="button-solid col-lg-3 col-4 m-auto">Change
                it</button>
        </form>
        <form class="justify-content-around" id="contact" name="Consumed Change Form" data-netlify-recaptcha="true"
            data-netlify="true">
            <div class="input-group col-lg-8 col-6">
                <label for="consumedChange">Change Calories Consumed Goal</label>
                <input id="consumed-change" aria-label="consumed" class="input1" name="consumedChange"
                    placeholder="3000" type="text" tabindex="1" required>
                <div aria-hidden="true" class="hover-box"></div>
            </div>
            <button name="consumedSubmit" id="consumed-submit" class="button-solid col-lg-3 col-4 m-auto">Change
                it</button>
        </form>
        <form class="justify-content-around" id="contact" name="Burned Change Form" data-netlify-recaptcha="true"
            data-netlify="true">
            <div class="input-group col-lg-8 col-6">
                <label for="burnedChange">Change Calories Burned Goal</label>
                <input id="burned-change" aria-label="burned" class="input1" name="burnedChanged" placeholder="2500"
                    type="text" tabindex="1" required>
                <div aria-hidden="true" class="hover-box"></div>
            </div>
            <button name="burnedSubmit" id="burned-submit" class="button-solid col-lg-3 col-4 m-austo">Change
                it</button>

        </form>
    </div>
</section>
<script src="/js/profile.js"></script>