<section id="int-hero">
    <h1 id="home-h">Calorie and Exercise Tracking</h2>
</section>
<div class="d-flex flex-wrap">
    <div class="track-div col-lg-6 col-12 d-flex">
        <div class="col-6">
            <h2>
                Input Calories Consumed
            </h2>
            <form autocomplete="off">
                <div class="autocomplete d-flex ">
                    <input id="consumedInput" type="number" name="foodConsumed" placeholder="400">
                </div>
                <button type="submit" id="consumed-submit" class="button-solid">Submit</button>
            </form>
        </div>
        <div class="chart-wrap col-6 d-flex justify-content-center">
            <canvas id="calorieConsumedChart"></canvas>
        </div>
    </div>
    <div class="track-div col-lg-6 col-12 d-flex">
        <div class="col-6">
            <h2>
                Input Calories Burned
            </h2>
            <form autocomplete="off">
                <div>
                    <input id="burnedInput" type="number" name="colriesBurnt" placeholder="2000">
                </div>
                <button type="submit" id="burned-submit" class="button-solid">Submit</button>
            </form>
        </div>
        <div class="col-6">
            <canvas id="calorieBurnedChart"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>