<section id="int-hero">
    <h1 id="home-h">Nutrional and Exercise Tracking</h2>
</section>
<div class="track-div">
    <h2>
        Food Consumed
    </h2>
    <form autocomplete="off">
        <div class="autocomplete">
            <input id="foodInput" type="text" name="foodConsumed" placeholder="Banana">
        </div>
        <button type="submit" id="food-submit" class="button-solid">Submit</button>
    </form>
    <h2>
        Calories Consumed
    </h2>
    <form autocomplete="off">
        <div>
            <input id="caloriesInput" type="text" name="colriesBurnt" placeholder="2000">
        </div>
        <button type="submit" id="food-submit" class="button-solid">Submit</button>
    </form>
</div>