<section id="int-hero">
    <h1 id="home-h">Calorie and Exercise Tracking</h2>
</section>
<div class="d-flex flex-wrap">
    <div class="track-div col-lg-6 col-12 d-flex align-items-center flex-column">
        <div class="col-12">
            <h2 class="text-center">
                Input Calories Consumed
            </h2>
            <form autocomplete="off">
                <div class="autocomplete d-flex ">
                    <input class='my-auto' id="consumedInput" type="number" name="foodConsumed" placeholder="400">
                    <button type="submit" id="consumed-submit" class="button-solid ml-3">Submit</button>
                </div>
            </form>
            <div class="chart-wrap col-9 mx-auto">
                <canvas id="calorieConsumedChart"></canvas>
            </div>
        </div>

    </div>
    <div class="track-div col-lg-6 col-12 d-flex align-items-center flex-column">
        <div class="col-12">
            <h2 class="text-center">
                Input Calories Burned
            </h2>
            <form autocomplete="off">
                <div class="autocomplete d-flex ">
                    <input class='my-auto' id="burnedInput" type="number" name="colriesBurnt" placeholder="350">
                    <button type="submit" id="burned-submit" class="button-solid ml-3">Submit</button>
                </div>
            </form>
            <div class="chart-wrap col-9 mx-auto">
                <canvas id="calorieBurnedChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>