
/* Mobile */
@media only screen and (min-width: 0em) {
    .track-div {
        background: #10625e;
        padding: 2.25em 1.7em;
        width: 100%;
        max-width: 15em;
        margin: auto;
        border-radius: 0.25em;
      }
     .track-div h2 {
        color: #fff;
        font-size: 1.2em;
        line-height: 1.2em;
        font-weight: bold;
        padding-left: 0.83333333em;
        border-left: 0.20833333em solid var(--primary);
        display: block;
        margin-bottom: 0.83333333em;
      }

    .track-div form {
        font-size: 0.8em;
        line-height: 1.75;
        color: #fff;
        opacity: .9;
        text-decoration: none;
        display: block;
    }
}
  
/* Tablet */
@media only screen and (min-width: 48em) {
}
  /* Small Desktop */
@media only screen and (min-width: 64em) {
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
