
/* Mobile */
@media only screen and (min-width: 0em) {
  .chart h3 {
    color: #fff;
    font-size: .8em;
    line-height: .8em;
    font-weight: bold;
    text-align: center;
  }
  .track-div {
    background: #10625e;
    padding: 2.25em 1.7em;
    width: 100%;
    flex: 1 0 0;
  }
    .track-div h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.83333333em;
  }
  .track-div form {
    font-size: 0.8em;
    line-height: 1.75;
    color: #fff;
    opacity: .9;                       
    text-decoration: none;
    display: block;
    margin-bottom: 0.83333333em;
  }
  .track-div input{
    margin-bottom: 0.83333333em;
    width: 100%;
    height: 2em;
  }
  .track-div form select{
      color: #000;
      height: 2em;
  }
}
  
/* Tablet */
@media only screen and (min-width: 48em) {
  .track-div h2 {
    font-size: 2.4em;
    line-height: 2.4em;
  }
}
  /* Small Desktop */
@media only screen and (min-width: 64em) {
  .track-div h2 {
    font-size: 2.4em;
    line-height: 2.4em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
